<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--WEB BROWSER OPTIONS: IE, Firefox, Chrome, PhantomJS -->
    <add key ="Browser" value="IE" />

    <!--SCREEN RESOLUTION OPTIONS: Maximize, Phone, iPad, 1600, 900, 1280, 720 -->
    <add key ="ScreenSize" value="" />

    <!--PROJECT URL-->
    <add key ="URL" value="https://www.dssinc.com/" />

    <!--ACCESS CODE-->
    <add key ="Access" value="" />

    <!--VERIFY CODE-->
    <add key ="Verify" value="" />

    <!--SELECT FACILITY-->
    <add key ="Facility" value="" />

    <!--TEST REPORT PATH-->
    <add key ="ReportPath" value="..\..\Reports\" />
    
    <!--SCREENSHOT PATH-->
    <add key ="ScreenshotPath" value="..\..\Reports\screenshots\" />

    <!--PAGE OBJECT DATA FILE PATH-->
    <add key ="ExcelPath" value="..\..\..\ExcelData\TestData.xlsx" />
    
  </appSettings>
</configuration>