<?xml version="1.0" encoding="utf-8" ?>

<!--
*************************************************************************************
Web Automation Framework - WAF v2.0.8
Designed and Developd by Davron Aliyev
Copyright (c) 2017 Document Storage Systems, Inc.
All rights reserved
*************************************************************************************
-->

<configuration>
  <appSettings>

    <!--WEB BROWSER OPTIONS: IE, Firefox, Chrome, PhantomJS -->
    <add key ="Browser" value="IE" />

    <!--SCREEN RESOLUTION OPTIONS: Maximize, Phone, iPad, 1600, 900, 1280, 720 -->
    <add key ="ScreenSize" value="" />

    <!--PROJECT URL-->
    <add key ="URL" value="http://10.1.34.27/fbcs-web/" />

    <!--SELECT USER-->
    <add key ="User" value="WAF Automation" />

    <!--TEST REPORT PATH-->
    <add key ="ReportPath" value="..\..\Reports\" />
    
    <!--SCREENSHOT PATH-->
    <add key ="ScreenshotPath" value="..\..\Reports\screenshots\" />

    <!--PAGE OBJECT DATA FILE PATH-->
    <add key ="ExcelPath" value="..\..\..\ExcelData\TestData.xlsx" />
    
  </appSettings>
</configuration>